@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 32);
}

#video {
  margin-block-end: 3.2rem;
}

#button {
  border: none;
  height: 5.6rem;
  width: 12.8rem;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(267.91deg, #ffe57f 9.35%, #ff7170 96.48%);
  transition: all 0.4s;
  cursor: pointer;
}

#button:hover {
  background: linear-gradient(128deg, #ff7170 9.35%, #ffe57f 96.48%);
}

#button[disabled] {
  cursor: not-allowed;
  opacity: 0.72;
}
